<a href="https://clarusway.com/contact-us/"><img align="center" src="https://i.ibb.co/B43qn24/officially-licensed-logo.png" alt="Open in Clarusway LMS" width="110" height="200" title="This notebook is licensed by Clarusway IT training school. Please contact the authorized persons about the conditions under which you can use or share."></a>

<hr>

<a href="https://lms.clarusway.com/course/view.php?id=7435"><img align="right" src="https://i.ibb.co/6Z5pQxD/lmss.png" alt="Open in Clarusway LMS" width="70" height="150" title="Open Clarusway Learning Management Sytem"></a>

<a href="https://github.com/clarusway/DS-DE0824-TR-DA-Students/tree/main/1-%20Classes%20%26%20Labs/3-%20DVwPy"><img align="left" src="https://i.ibb.co/n3HWyQX/github-logo.png" alt="Open in Clarusway GitHub" width="110" height="150" title="Open and Execute in Clarusway GitHub Repository"></a>

<br/>
<br/>

<hr>

<p style="text-align: center;"><img src="https://i.ibb.co/Rpz9L36/clarusway-logo-black.png" width="500" height="200" class="img-fluid" alt="CLRSWY_LOGO"></p>

<p style="text-align: center;"><img src="https://i.ibb.co/XS0bxSH/best-bootcamps.png" width="300" height="200" class="img-fluid" alt="CLRSWY_LOGO"></p>

<p style="background-color:#E51A59; font-family:newtimeroman; color:#FDFEFE; font-size:130%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>

<p style="text-align: center;"><img src="https://i.ibb.co/99DQ3TY/DS-Courses.png" class="img-fluid" 
alt="CLRSWY_Courses"></p>

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">STAR WARS - SEABORN VISUALIZATION TASK</p>

![image.jpg](https://images.thedirect.com/media/article_full/star-wars-characters-sequels.jpg?imgeng=cmpr_75/)

[Photo](https://images.thedirect.com/media/article_full/star-wars-characters-sequels.jpg?imgeng=cmpr_75/)

![image.png](https://i.ibb.co/hg2Kd1X/seabornlogo.png)

Seaborn is a Python data visualization library based on matplotlib (it is the go to library for plotting in Python). It provides a high-level interface for drawing **fascinating, attractive and informative graphics**. Moreover, Seaborn is a library for making **statistical graphics** in Python. It builds on top of matplotlib and integrates closely with pandas data structures.

Seaborn helps you explore and understand your data. Its plotting functions operate on dataframes and arrays containing whole datasets and internally perform the necessary semantic mapping and statistical aggregation to produce informative plots. Its dataset-oriented, declarative API lets you focus on what the different elements of your plots mean, rather than on the details of how to draw them

[Seaborn Source 01](https://seaborn.pydata.org/introduction.html)<br>
[Seaborn Source 02](https://seaborn.pydata.org/)<br>
[Seaborn Source 03](https://www.youtube.com/watch?v=GcXcSZ0gQps)<br>
[Seaborn Source 04](https://www.youtube.com/watch?v=6GUZXDef2U0)<br>
[Seaborn Source 05](https://www.youtube.com/watch?v=Pkvdc2Z6eBg)<br>

<a id="toc"></a>

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">CONTENT</p>

* [ABOUT THE DATASET & CONTEXT](#0)
* [ABOUT THE FEATURES](#00)
* [IMPORTING LIBRARIES NEEDED IN THIS NOTEBOOK](#000)
* [INSTRUCTIONS (Tasks in the Assignment)](#1)

* [Q1 - Plotting the Star Wars Characters by gender](#2)

* [Q2 - Plotting the Characters by eye color](#3)

* [Q3 - Plotting the MASS unde 3 groups: "High_mass", "Normal_mass", "Low_mass"](#4)

* [Q4 - Plotting the species Top 5](#5)

* [Q5 - Plotting the Characters by skin_color Top 7](#6)

* [Q6 - Plotting the Box plot and Swarm plot](#7)

* [Q7 - Plotting the Characters height histogram ](#8)

<a id="toc"></a>

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">ABOUT THE DATASET & CONTEXT</p>

Star Wars, created by George Lucas, primarily known for his movies, later years comics, video games, television productions, etc. It is a fictional universe and brand that has increased its reputation in branches. The first movie in the series was released by 20th Century Fox on May 25, 1977 under the name Star Wars and became a worldwide popular culture phenomenon. Two sequels were released three years apart. 16 years after the last movie of the original trilogy was released, the first movie of the "premise" trilogy was released, and the other two movies were released three years apart. The "consecutive" trilogy started in 2015, and the sequels were released 2 years apart. According to 2019 data, the total revenue of twelve Star Wars movies is approximately 10.25 billion dollars. With this gross, the Star Wars series became the highest-grossing movie series.
[Wikipedia Star Wars](https://tr.wikipedia.org/wiki/Y%C4%B1ld%C4%B1z_Sava%C5%9Flar%C4%B1)

This dataset contains physical and other personal information about Characters from the Star Wars universe. Name, height, mass, hair_color, skin_color, eye_color, birth_year, gender, homeworld, species.


[May 2022 Star Wars Data Dictionary](https://data.world/datafam-con/may-2022-star-wars/workspace/data-dictionary/)<br>
[May 2022 Star Wars Characters DATASET](https://data.world/datafam-con/may-2022-star-wars/workspace/file?filename=Star+Wars+characters.xlsx/)<br>


**In this assignment, you are supposed to do the exercise yourself to see if you can solve it. While solving the tasks if you need to remember some subjects, please repeat inclass materails in the course and udemy course videos if provided to you.**

<a id="00"></a>

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">ABOUT THE FEATURES</p>


<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

This dataset contains physical and other personal information about Characters from the Star Wars universe. Name, height, mass, hair_color, skin_color, eye_color, birth_year, gender, homeworld, species.

 The file can be downloaded at this URL.
[May 2022 Star Wars Characters DATASET](https://data.world/datafam-con/may-2022-star-wars/workspace/file?filename=Star+Wars+characters.xlsx/)<br> 

- **name:** The name of the Characters.<br>Type; string,   
    Sample Values: "Ackbar", "Zam Wesell",</br>
</br> 
- **height:** The height of the Characters. Type;integer 
- **mass:** The mass of the Characters  Type; decimal
- **hair_color:** The hair_color of the Characters. Type; string  
- **skin_color:** The skin_color of the Characters. Type; string
- **eye_color:** The eye_color of the Characters. Type; string

- **birth_year:** The birth_year of the Characters.<br>Type; string,   
    Sample Values: "112BBY", "41.9BBY",</br>
    'BBY' stands for 'Before the Battle of Yavin,'
</br>         

- **gender:** The gender of the Characters.<br>Type; string,   
    Sample Values: 
    
      "male" (71.26%) 
      "female" (21.84%) 
      "NA" (3.45%)
      "none" (2.3%)
      "hermaphrodite" (1.15%) 
</br>  

- **homeworld:** The homeworld of the Characters.<br>Type; string,   
    Sample Values: 
    
      "Alderaan" 
      "Zolan"
</br>  

- **species:** The species of the Characters.<br>Type; string,   
    Sample Values: 
    
      "Aleena" 
      "Zabrak"
</br>

<a id="000"></a>

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">IMPORTING LIBRARIES NEEDED IN THIS NOTEBOOK</p>


<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
from collections import Counter
from pylab import rcParams
import re
sns.set_style("darkgrid")

import warnings
warnings.filterwarnings("ignore")

<a id="1"></a>

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">INSTRUCTIONS (Tasks in the Assignment)</p>


<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

**In this assignment you're required to handle with the following tasks:** 

- **Task 1.** Plotting the Star Wars Characters by gender<br>
- **Task 2.** Plotting the Characters by eye color <br>
- **Task 3.** Plotting the MASS under 3 groups: "High_mass", "Normal_mass", "Low_mass"<br>
- **Task 4.** Plotting the species Top 5<br>
- **Task 5.** Plotting the Characters by skin_color Top 7<br>
- **Task 6.** Plotting the Box plot and Swarm plot <br>
- **Task 7.** Plotting the Characters height histogram <br>

**Now Let us first try to load and read the Star_Wars_characters dataset. [SOURCE](https://towardsdatascience.com/learn-how-to-read-data-into-a-pandas-dataframe-in-5-minutes-122af8e0b9db) for learning how to read data into a Pandas DataFrame in 5 minutes.**

In [34]:
df0 = pd.read_excel('Star_Wars_characters.xlsx')

df = df0.copy()

df

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,species
0,Luke Skywalker,172.0,77.0,blond,fair,blue,19BBY,male,Tatooine,Human
1,C-3PO,167.0,75.0,no hair,gold,yellow,112BBY,no gender,Tatooine,Droid
2,R2-D2,96.0,32.0,no hair,"white, blue",red,33BBY,no gender,Naboo,Droid
3,Darth Vader,202.0,136.0,none,white,yellow,41.9BBY,male,Tatooine,Human
4,Leia Organa,150.0,49.0,brown,light,brown,19BBY,female,Alderaan,Human
...,...,...,...,...,...,...,...,...,...,...
82,Rey,NaN,NaN,brown,light,hazel,NaN,female,NaN,Human
83,Poe Dameron,NaN,NaN,brown,light,brown,NaN,male,NaN,Human
84,BB8,NaN,NaN,no hair,none,black,NaN,none,NaN,Droid
85,Captain Phasma,NaN,NaN,none,NaN,NaN,NaN,female,NaN,NaN
86,PadmÃ© Amidala,165.0,45.0,brown,light,brown,46BBY,female,Naboo,Human

In [30]:
#shape
df.shape

(87, 10)

In [31]:
#info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        87 non-null     object
 1   height      81 non-null     float64
 2   mass        59 non-null     float64
 3   hair_color  87 non-null     object
 4   skin_color  85 non-null     object
 5   eye_color   84 non-null     object
 6   birth_year  43 non-null     object
 7   gender      87 non-null     object
 8   homeworld   77 non-null     object
 9   species     82 non-null     object
dtypes: float64(2), object(8)
memory usage: 6.9+ KB

In [32]:
#describe
df.describe()

           height         mass
count   81.000000    59.000000
mean   174.358025    97.311864
std     34.770429   169.457163
min     66.000000    15.000000
25%    167.000000    55.600000
50%    180.000000    79.000000
75%    191.000000    84.500000
max    264.000000  1358.000000

In [33]:
#isnull
df.isnull()

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,species
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
82,False,True,True,False,False,False,True,False,True,False
83,False,True,True,False,False,False,True,False,True,False
84,False,True,True,False,False,False,True,False,True,False
85,False,True,True,False,True,True,True,False,True,True
86,False,False,False,False,False,False,False,False,False,False

<a id="2"></a>

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">"TASK_1 Plotting the Star Wars characters by genders"</p>


<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

In [39]:
# gender
gender = df['gender']

gender

0          male
1     no gender
2     no gender
3          male
4        female
        ...
82       female
83         male
84         none
85       female
86       female
Name: gender, Length: 87, dtype: object

**This can now be plotted much more concisely.**<br>
Axes.bar_label() automatically labels bars [since matplotlib 3.4](https://matplotlib.org/stable/api/_as_gen/matplotlib.axes.Axes.bar_label.html)

In [40]:
gender.value_counts()

gender
male             62
female           19
no gender         3
none              2
hermaphrodite     1
Name: count, dtype: int64

In [42]:
df.loc[gender == 'none','gender'] = 'no gender'

gender.value_counts()

gender
male             62
female           19
no gender         5
hermaphrodite     1
Name: count, dtype: int64

In [10]:
# with seaborn barplot

In [11]:
# with seaborn countplot

<a id="3"></a>

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">"TASK_2 Plotting the characters by eye color"</p>
 

<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

In [12]:
# eye_color

In [13]:
# with seaborn barplot

In [14]:
# with seaborn countplot

<a id="4"></a>

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">TASK_3 - Plotting the MASS under 3 groups: "High_mass", "Normal_mass", "Low_mass" </p>


<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

Note:
"High_mass    >=100.0
"Normal_mass  >50.0  <100.0
"Low_mass     <=50

In [15]:
#mass_cat

In [16]:
# with seaborn barplot

**Seaborn color palettes**

sns.color_palette("bone", n_colors=20)


https://seaborn.pydata.org/tutorial/color_palettes.html
https://www.practicalpythonfordatascience.com/ap_seaborn_palette

In [17]:
# with seaborn countplot

<a id="5"></a>

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">"TASK_4 - Plotting the species top 5"</p>


<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

In [18]:
#species_freq

https://www.statology.org/seaborn-barplot-color/

In [19]:
# with seaborn Barplot

In [20]:
# With Seaborn Countplot

<a id="6"></a>

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">"TASK_5 - Plotting the characters by skin_color top 7"</p>


<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

In [21]:
#skin_color top 7

In [22]:
# with seaborn Barplot

In [23]:
# with seaborn countplot

<a id="7"></a>

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">"TASK_6 - Plotting the Box plot and Swarm plot"</p>


<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:left; border-radius:10px 10px;">6.1 - Plotting the Box plot of height</p></p>

In [24]:
# with seaborn boxplot

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:left; border-radius:10px 10px;">6.2 - Plotting the Swarm Plot of height in genders separeted by mass_cat.</p>

In [25]:
# with seaborn Swarmplot

<a id="8"></a>

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">"TASK_7 - Plotting height histogram" </p>


<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:left; border-radius:10px 10px;">7.1 - Plotting the histogram of height</p>

In [26]:
# with seaborn histogram

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:left; border-radius:10px 10px;">7.2 - Plotting the   histogram together kde of height</p>

In [27]:
# with seaborn histogram + kde

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:left; border-radius:10px 10px;">7.3 - Plotting the histogram height by species and gender</p>

In [28]:
# with seaborn histogram (height by species and gender)

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">THE END OF THE ASSIGNMENT 01</p>

# Now. it's time to relax!

![Image_Assignment](https://i.ibb.co/jZD3Mqb/relaxing.jpg)

<a id="10"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>


<p style="text-align: center;"><img src="https://i.ibb.co/99DQ3TY/DS-Courses.png" class="img-fluid" 
alt="CLRSWY"></p>


<br><br><br>

<p style="text-align: center;"><img src="https://i.ibb.co/Rpz9L36/clarusway-logo-black.png" width="450" height="200" class="img-fluid" alt="CLRSWY_LOGO"></p>

<p style="background-color:#E51A59; font-family:newtimeroman; color:#FDFEFE; font-size:130%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>

<a href="https://clarusway.com/contact-us/"><img align="center" src="https://i.ibb.co/B43qn24/officially-licensed-logo.png" alt="Open in Clarusway LMS" width="110" height="200" title="This notebook is licensed by Clarusway IT training school. Please contact the authorized persons about the conditions under which you can use or share."></a>